#login_panel
  %h1
    Sign in to
    = WulinMaster.config.app_title
  
  #flash_notice_container
    - if flash[:notice]
      #flash_notice= flash[:notice]
  
  #connect_container
    #connect
      = link_to "Connect", @new_authorization_url
      #indicator{:style => 'opacity:0;filter:alpha(opacity=0);-moz-opacity:0'}= image_tag 'indicator.gif'

:javascript
  $(document).ready(function() { initializeConnect(); });