#container.valign-wrapper
  .row.center-align.white.z-depth-1{style: 'width:400px;'}
    %br
    %h5
      Sign in to
      = WulinMaster.config.app_title
    .col.m1
    .col.m10
      = link_to @new_authorization_url do
        %span.waves-effect.waves-light.btn Connect
    .row

:javascript
  $(document).ready(function() { initializeConnect(); });
